APP_NAME=OrderService
APP_ENV=local
APP_KEY=base64:woQ6SGZR23xgK2me62Q+9GF41ln1eRqSgbvs1BEKUmI=
APP_DEBUG=true
APP_URL=http://internal-router:8081/order

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres-order
DB_PORT=5432
DB_DATABASE=order_service
DB_USERNAME=order_service
DB_PASSWORD=order_service_password

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

REDIS_STREAM_USER_CREATED=user.created
REDIS_STREAM_ORDER_CREATED=order.created
REDIS_STREAM_REPORT_GENERATED=report.generated
