APP_NAME=UserService
APP_ENV=local
APP_KEY=base64:woQ6SGZR23xgK2me62Q+9GF41ln1eRqSgbvs1BEKUmI=
APP_DEBUG=true
APP_URL=http://internal-router:8081/user

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres-user
DB_PORT=5432
DB_DATABASE=user_service
DB_USERNAME=user_service
DB_PASSWORD=user_service_password

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

REDIS_STREAM_USER_CREATED=user.created
REDIS_STREAM_ORDER_CREATED=order.created
REDIS_STREAM_REPORT_GENERATED=report.generated
JWT_ISSUER=user-service
JWT_AUDIENCE=order-processing-system
JWT_TTL_SECONDS=3600
JWT_PRIVATE_KEY_PATH=/var/www/storage/keys/jwt_private.pem
JWT_PUBLIC_KEY_PATH=/var/www/storage/keys/jwt_public.pem
