APP_NAME=SagaOrchestrator
APP_ENV=local
APP_KEY=base64:woQ6SGZR23xgK2me62Q+9GF41ln1eRqSgbvs1BEKUmI=
APP_DEBUG=true
APP_URL=http://internal-router:8081/saga

LOG_CHANNEL=stderr
LOG_LEVEL=debug

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

REDIS_STREAM_USER_CREATED=user.created
REDIS_STREAM_ORDER_CREATED=order.created
REDIS_STREAM_REPORT_GENERATED=report.generated
SAGA_CONSUMER_GROUP=saga-orchestrator
SAGA_CONSUMER_NAME=saga-orchestrator-1

USER_SERVICE_URL=http://internal-router:8081/user
ORDER_SERVICE_URL=http://internal-router:8081/order
REPORT_SERVICE_URL=http://internal-router:8081/report
JWT_PUBLIC_KEY_PATH=/var/www/storage/keys/user_jwt_public.pem
